<p>Jacek is using: <a href="https://primefaces.org/primeng/showcase/#/setup">link to documetation</a> </p>

<span class="p-float-label">
 <input id="in_title" type="tex" [(ngModel)] ="title" pInputText>
 <label for="in_title">Add a title</label>
</span>
<br/>
<button type="button" pButton label="PrimeNG" (click)="upper()"></button>

<p>You have added: {{title}}</p>

<br><hr>
<p>Checkboxes: <a href="https://primefaces.org/primeng/showcase/#/checkbox"> documetation</a> </p>
<br>

<h5>Basic</h5>
<div class="p-field-checkbox">
    <p-checkbox [(ngModel)]="checked" binary="true" inputId="binary"></p-checkbox>
    <label for="binary">{{checked}}</label>
</div>
<h5>Multiple</h5>
<div class="p-field-checkbox">
    <p-checkbox name="group1" value="New York" [(ngModel)]="selectedCities" inputId="ny"></p-checkbox>
    <label for="ny">New York</label>
</div>
<div class="p-field-checkbox">
    <p-checkbox name="group1" value="San Francisco" [(ngModel)]="selectedCities" inputId="sf"></p-checkbox>
    <label for="sf">San Francisco</label>
</div>
<div class="p-field-checkbox">
    <p-checkbox name="group1" value="Los Angeles" [(ngModel)]="selectedCities" inputId="la"></p-checkbox>
    <label for="la">Los Angeles</label>
</div>
<div class="p-field-checkbox">
    <p-checkbox name="group1" value="Chicago" [(ngModel)]="selectedCities" inputId="ch"></p-checkbox>
    <label for="ch">Chicago</label>
</div>

<h5>Dynamic Values, Preselection, Value Binding and Disabled Option</h5>
<div *ngFor="let category of categories" class="p-field-checkbox">
    <p-checkbox name="group2" value="category" [value]="category"  [(ngModel)]="selectedCategories" [inputId]="category.key" [disabled]="category.key === 'R'"></p-checkbox>
    <label [for]="category.key">{{category.name}}</label>
</div>

<br><hr>
<p>Chips: <a href="https://primefaces.org/primeng/showcase/#/chips"> documetation</a> </p>
<br>

<h5>Basic</h5>
<p-chips [(ngModel)]="values1" ></p-chips>

<h5>Comma Separator</h5>
<p-chips [(ngModel)]="values2" separator=","></p-chips>

<h5>ng-template</h5>
<p-chips [(ngModel)]="values3">
    <ng-template let-item pTemplate="item">
        {{item}} - (active) <i class="pi pi-user p-ml-2"></i>
    </ng-template>
</p-chips>
